.footer {
  background-color: #f8f9fa;
  /* Màu nền sáng */
  color: #333333;
  /* Màu chữ tối */
  border-top: 2px solid #ddd;
  /* Đường viền trên */
  padding: 20px 0;
  /* Khoảng cách trên và dưới */
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  /* Thêm bóng đổ nhẹ */
}
