/* styles/header.module.css */

.header {
  background-color: #007bff; /* Background color */
  color: #ffffff; /* Text color */
  border-bottom: 2px solid #0056b3; /* Border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
}

.logo {
  font-size: 1.75rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff; /* Text color */
  margin-left: 8px; /* Space between logo and text */
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.loginButton {
  color: #ffffff;
  background-color: #0056b3; /* Button background */
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #003d80; /* Hover effect */
}
